html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background: #ffffff;
}

.container {
    height: 100vh;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.navbar {
    height: 127px;
}

.navbar-brand {
    font-weight: 700;
    font-size: 27px;
    margin-left: 80px;
}
.loginBtn {
    margin: 0 40px;
    padding: 5px 40px;
}

.intro, .works, .furtherInfo2, .faqSet1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonus {
    display: flex;
    flex-direction: row;  
    align-items: center;
    margin-top: 118px;
    box-shadow: 0 0 30px #efefef;
}

.bonus > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    height: 100px;
    width: 241px;
    border-right: 1px solid #f9f9f9;
    border-left: 1px solid #f9f9f9;
    color: #a0a0a0;
}

.worksImg {
    padding: 0px 55px;
    height: 494px;
    width: 400px;
}

.card-img {
    object-fit: cover;
}
.bonus span > p {
    font-size: 13px;
    text-align: center;
}
.bonus > span i {
    text-align: center;
    padding: 12px;
    font-size: 20px;
}
.howItWorksInstruction, .furtherInfo, .companies-logo, .benefitIcon, .faqSet, .footer1, .footer2 {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
}

.furtherInfoBtn {
    display: flex;
    flex-direction: row;  
    align-items: center;
}

.card-container {
    width: 18rem;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 105px 0;
}
.card-container img {
    height: 100px;
    width: 100px;
}

.card-container > .card-body {
    font-size: 12px;
    text-align: center;
}
.card-container > .card-body h5 {
    font-size: 16px;
}
.card-container > .card-body p {
    color: #e0e0e0;
}

.titleWrapper {
    display: flex;
    margin-bottom: 7%;
    justify-content: center;
    margin-top: 18%;
}
.header-caption {
    font-size: 30px;
    font-weight: 700;
    margin-top: 132px;
}

.header-caption-intro {
    text-align: center;
    color: #a0a0a0;
    font-size: 15px;
    margin-bottom: 38px;
}

.create-btn {
    line-height: 2.5;
    font-size: 14px;
    font-weight: 100;
    width: 216px;
    background-color: #4373f9;
    border-radius: 5px;
    box-shadow: 7px 12px 16px 6px #e5ecfe;
}

.create-btn-caption {
    margin-top: 40px;
    font-size: 14.5px;
    color: #454545;
    font-weight: 500;
}

.create-btn-caption > a {
    text-decoration: underline;
}

.line {
 width: 55px;
 border-top: 1px solid rgb(45, 45, 45);
}

.feature-header {
    text-align: center;
    margin-top: 10%;
    font-weight: 700;
    letter-spacing: 7px;
}

.more-header {
    text-align: center;
    margin-top: -5%;
    font-weight: 700;
    letter-spacing: 7px;
}
.feature-header-content {
    text-align: center;
    font-size: 12px;
    color: #b3b3b3;
    line-height: 22px;
}

.featureCard {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    margin-top: 55px;
}

.create-search-profile {
    text-align: center;
    margin: 62px;
}

.img-wrapper {
  padding: 0px 55px;
}
.titleWrapper > .text {
  font-size: 15px;
  width: 400px;
}
.titleWrapper > .text h4 {
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 45px;
}

.titleWrapper > .text .btn {
    line-height: 2.1;
    font-size: 13px;
    font-weight: 100;
    width: 150px;
    padding: 13px;
    margin-top: 30px!important;
    background-color: #4373f9;
    border-radius: 5px;
    box-shadow: 7px 12px 16px 6px #e5ecfe;
}

.titleWrapper > .text p {
    color: #b3b3b3;
}

.titleWrapper > .text a{
    color: #4373f9;
    margin-left: 10px;
    font-size: 15px;
}

.titleWrapper > .text a:hover{
    color: #4373f9;
}


.titleWrapper > .text .doubt-call {
    margin-top: 35px;
    font-size: 13px;
}
.card-img-left {
    height: 494px;
    object-fit: cover;
    width: 400px;
}

.img-wrapper-text {
    color: #ffffff;
    font-size: 26px;
    position: absolute;
    margin-top: -64px;
    margin-left: 264px;
    font-weight: 600;
}

.howItWorksInstruction span {
    width: 225px;
    padding: 9px 45px;
    color: #a0a0a0;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 15px;
    cursor: pointer
}
.howItWorksInstruction span:hover {
    color: #fff;
    background-color: #4373f9;
}
.howItWorksInstruction > span i {
    font-size: 20px;
    padding: 15px;
}

.section-divider {
    width: 100vw;
    border-top-color: #e5ecfe;
    margin-left: -82px;
    margin-top: 0px;
}
.spacer {
  margin-top: 97px;
}
.text-title {
    letter-spacing: 0 !important;  
}

.doubt-img {
    height: 498px;
    padding: 0px 0px 0px 130px;
    width: 400px;
}

.card-img-doubt {
        height: 250px;
    object-fit: cover;
    width: 200px;
}
 .arrow {
    border: solid 2px #e0e0e0;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 13px;
    font-size: 15px;
    color: #a0a0a0;
    margin-right: 15px;
    cursor: pointer;
}

.arrow:hover {
    color: #4373f9;
    border-color: #4373f9;
}

.benefitIcon span {
    width: 350px;
    color: #a0a0a0;
    padding: 50px;
    text-align: center;
    cursor: pointer;
}
.benefitIcon > span i {
    font-size: 35px;
    padding: 12px;
}
.benefitIcon span:hover {
    color: #fff;
    background-color: #4373f9;
    box-shadow: 7px 12px 16px 6px #e5ecfe;
}

.companies-logo span {
    color: #a0a0a0;
    padding: 60px 70px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

.companies-logo span:hover {
    color: #4373f9;
}
.footer-top, .footer-body, 
.footer-bottom {
  background-color: #2d2d2d;
  color: #fff;
}

.footer-top {
    height: 100px;
    padding-left: 142px;
    border-bottom: solid 1px #444242;
}
.footer-body {
    height: 300px;
    justify-content: space-evenly;
}
.footer-body p {
    font-size: 15px;
    text-align: left;
}
.footer-bottom {
    height: 100px;
    border-top: solid 1px #444242;
}
.footer-bottom p {
    width: 100%;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.8px;
    padding-top: 42px;
}

footer {
    width: 100vw;
    margin-left: -90px;
}

.housy p, .discovery p, .accounts p, .general p {
    font-size: 13px;
    color: #6d6b6b
}

.housy h6, .discovery h6, .accounts h6, .general h6 {
    margin: 30px 0 !important;
} 
.doorep p {
    font-size: 28px;
    margin: 30px 0 !important;
}

.subscribe {
    border: 2px solid #6d6b6b;
    padding: 15px 26px;
    font-size: 10px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 7px;
}

.search {
    padding: 23px;
    width: 300px !important;
    border-color: #484848;
    background: #484848;
}

.search::placeholder {
    color: #fff !important;
    font-size: 12px;
}

.btnText {
    font-size: 14px;
    color: #333;
}

.nav-left {
    margin-right: 20px;
}



.footerSeed { 
    background: #2d2d2d;
    color: #fff;
    margin-top: 30px;
    margin-left: 125px;
}

.formInput {
    margin-left: 100px;
}

.socialIcon {
    width: 200px;
    text-align: center;
    padding-top: 30px;
    margin-left: 73px;
}
.socialIcon > a i{
    border: 2px solid #6d6b6b;
    border-radius: 50px;
    padding: 13px;
    height: 45px;
    width: 45px;
    margin: 0 10px;
    cursor: pointer;
}

.housy {
    margin-left: 132px;
}

.accounts {
    margin-right: 67px;
}